@{
    Layout = "~/Views/Shared/_WeUILayout.cshtml";
    ViewBag.Title = "赛多利斯（Sartorius）";
}
@section styles{
    <link href="/css/style.css" rel="stylesheet" type="text/css" asp-append-version="true"/>
    <link rel="/stylesheet" href="/css/aos.css" asp-append-version="true"/>
}
<div class="contain" id="app" v-cloak=v-cloak>

    <div class="nav">
        <a class="title" href="#">@*<div class="arrow"><img src="/images/arrow-b.png" width="100%" /></div>*@Station booking</a>
        <div class="date">@DateTime.Now.ToString("yyyy-MM-dd")</div>
        <div class="clear"></div>
    </div>

    <div class="notice">
        请选择您要预约的座位：<br />
        Free为空位，Occupied为已占座位，再次点击可取消定位。
    </div>

    <div class="table">
        <template v-for="(item,index) in seats">
            <template v-if="item.status==0">
                <input type="checkbox" :id="'t'+item.seatNumber" disabled=disabled disabled=disabled />
                <label :for="'t'+item.seatNumber" class="check-box" @@click="doBook(item)">
                    <p>Free</p>
                    <p1>My Booking</p1>
                    <p2><img src="/images/chose.png" width="100%" /></p2>
                    <li>{{item.seatNumber}}</li>
                    <img src="/images/yinf1.png" width="100%" />
                </label>
            </template>
            <template v-if="item.status==1">
                <input type="checkbox" :id="'t'+item.seatNumber" checked=checked checked=checked disabled=disabled disabled=disabled />
                <label :for="'t'+item.seatNumber" class="check-box" @@click="doBook(item)">
                    <p>Free</p>
                    <p1>My Booking</p1>
                    <p2><img src="/images/chose.png" width="100%" /></p2>
                    <li>{{item.seatNumber}}</li>
                    <img src="/images/yinf1.png" width="100%" />
                </label>
            </template>
            <template v-if="item.status==-1">
                <input type="checkbox1" :id="'t'+item.seatNumber" disabled=disabled disabled=disabled />
                <label :for="'t'+item.seatNumber" class="check-box1">
                    <p>Occupied</p>
                    <li>{{item.seatNumber}}</li>
                    <img src="/images/yinf1.png" width="100%" />
                </label>
            </template>
        </template>

    </div>

</div>
@section scripts{
    <script>
        var app=new Vue({
            el: "#app",
            data() {
                return {
                    seats: [],
                    openId:'@ViewBag.openId'
                }
            },
            methods: {
                doBook(seat) {
                    if (!this.openId) {
                        abp.message.error("微信信息错误");
                        return;
                    }
                    if (seat.class == "free") {
                        layer.confirm("确认定下此座位?", {title:null}, function () {
                            layer.closeAll();
                            func.runAsync(abp.services.app.seatOrder.order(seat.seatNumber, app.openId).done(res => {
                                layer.msg('提交成功')
                                location.reload();
                            }))
                        })
                        //if (confirm("确认定下此座位?")) {
                            
                        //}
                        //abp.message.confirm("确认定下此座位?", function () {
                            
                        //})
                    } else if (seat.class == "mine") {
                        layer.confirm("确认取消此座位?", { title: null },  function () {
                            layer.closeAll();
                            func.runAsync(abp.services.app.seatOrder.cancel(seat.seatNumber, app.openId).done(res => {
                                layer.msg('提交成功')
                                location.reload();
                            }))
                        })
                        //if (confirm("确认取消此座位?")) {
                            
                        //}
                        //abp.message.confirm("确认取消此座位?", function () {
                            
                        //})
                    }
                }
            },
            mounted() {
                abp.services.app.seatOrder.getSeatsStatus(this.openId).done(res => {
                    this.seats = res;
                    this.seats.forEach(seat => {
                        if (!seat.orderOpenId) {
                            seat.status = 0;
                            seat.class = "free";
                            seat.des = "Free";
                        } else if (seat.orderOpenId == this.openId) {
                            seat.status = 1;
                            seat.class = "mine";
                            seat.des = "My Booking";
                        } else {
                            seat.status = -1;
                            seat.class = "occupy";
                            seat.des = "Occupied";
                        }
                    })
                });
            }
        })
    </script>
}