
@{
    ViewBag.Title = "Sartorius Hot Desk";
}
@section styles{
    <link href="/css/style.css" rel="stylesheet" type="text/css" asp-append-version="true" />
    <link rel="stylesheet" href="/css/aos.css" asp-append-version="true" />
    <style>
        .check-box p2 {
            width: 200px;
            color: #ffb81c;
            position: absolute;
            margin: 2% 85%;
            text-align: center;
            opacity: 0;
            width: 20px;
            -webkit-transition-property: all;
            transition-property: all;
            -webkit-transition-duration: .3s;
            transition-duration: .3s;
        }
    </style>
}
<div class="contain" id="app" v-cloak=v-cloak>

    <div class="nav">
        <a class="title" href="#">Station booking</a>
        <div class="date">@DateTime.Now.ToString("yyyy-MM-dd")</div>
        <div class="clear"></div>
    </div>

    <div class="notice">
        请选择您要预约的座位：<br />
        Free为空位，Occupied为已占座位，再次点击可取消定位。
    </div>

    <div class="table">
        <template v-for="(item,index) in seats">
            <template v-if="item.status==0">
                <input type="checkbox" :id="'t'+item.seatNumber" disabled="disabled" />
                <label :for="'t'+item.seatNumber" class="check-box" @@click="doBook(item)">
                    <p style="top:65%">Free</p>
                    <p1>My Booking</p1>

                    <li>{{item.seatNumber}}</li>
                    <img src="/images/yinf1.png" width="100%" />
                </label>
            </template>
            <template v-if="item.status==1">
                <input type="checkbox" :id="'t'+item.seatNumber" checked="checked" disabled="disabled" />
                <label :for="'t'+item.seatNumber" class="check-box" @@click="doBook(item)">
                    <p>Free</p>
                    <p1>My Booking</p1>
                    <p2><img src="/images/chose.png" width="100%" /></p2>
                    <li>{{item.seatNumber}}</li>
                    <img src="/images/yinf1.png" width="100%" />
                </label>
            </template>
            <template v-if="item.status==-1">
                <input type="checkbox1" :id="'t'+item.seatNumber" disabled=disabled disabled=disabled disabled=disabled disabled=disabled disabled=disabled disabled=disabled disabled=disabled disabled=disabled />
                <label :for="'t'+item.seatNumber" class="check-box1">
                    <p style="top:65%">Occupied</p>
                    <li>{{item.seatNumber}}</li>
                    <img src="/images/yinf1.png" width="100%" />
                </label>
            </template>
        </template>
    </div>

    <div class="clear"></div>
    <!--效果html开始-->
    @*<nav class="main_nav">
            <ul>
                <li><a class="cd-signin" href="#0">confirm</a></li>
            </ul>
        </nav>*@

    <div class="cd-user-modal">
        <div class="cd-user-modal-container">
            <li class="confirm">
                {{currentSeat.status==0?'确认定下此座位?':'确认取消此座位?'}}
            </li>
            <div id="cd-login">
                <a class="button" @@click="doSubmit(currentSeat)">确 认</a><a class="button" style="background:#ccc" @@click='hideDlg'>取 消</a>
                <div class="clear"></div>
            </div>
        </div>
    </div>
    <!--效果html结束-->
    <div class="clear"></div>


</div>
@section scripts{
    <script>
        var $form_modal = $('.cd-user-modal'),
            $form_login = $form_modal.find('#cd-login'),
            $form_signup = $form_modal.find('#cd-signup'),
            $form_modal_tab = $('.cd-switcher'),
            $tab_login = $form_modal_tab.children('li').eq(0).children('a'),
            $tab_signup = $form_modal_tab.children('li').eq(1).children('a'),
            $main_nav = $('.main_nav');
        var app=new Vue({
            el: "#app",
            data() {
                return {
                    isFirstTime:"@ViewBag.isFirstTime"=="True",
                    name:'',
                    seats: [],
                    openId: '@ViewBag.openId',
                    currentSeat: {}
                }
            },
            methods: {
                hideDlg: function () {
                    $(".cd-user-modal").removeClass("is-visible");
                },
                doBook(seat) {
                    if (!this.openId) {
                        abp.message.error("微信信息错误");
                        return;
                    }
                    this.currentSeat = seat;
                    Vue.nextTick(function () {
                        $(".cd-user-modal").addClass("is-visible");
                    })

                    //if (seat.status==0) {
                    //    layer.confirm("确认定下此座位?", {title:null,closeBtn:null,btnAlign:'c'}, function () {
                    //        layer.closeAll();
                    //        func.runAsync(abp.services.app.seatOrder.order(seat.seatNumber, app.openId).done(res => {
                    //            layer.msg('提交成功');
                    //            seat.status = 1;
                    //            //location.reload();
                    //        }))
                    //    })
                    //    //if (confirm("确认定下此座位?")) {

                    //    //}
                    //    //abp.message.confirm("确认定下此座位?", function () {

                    //    //})
                    //} else if (seat.status==1) {
                    //    layer.confirm("确认取消此座位?", {title:null,closeBtn:null,btnAlign:'c'},  function () {
                    //        layer.closeAll();
                    //        func.runAsync(abp.services.app.seatOrder.cancel(seat.seatNumber, app.openId).done(res => {
                    //            layer.msg('提交成功');
                    //            seat.status = 0;
                    //            //location.reload();
                    //        }))
                    //    })
                    //    //if (confirm("确认取消此座位?")) {

                    //    //}
                    //    //abp.message.confirm("确认取消此座位?", function () {

                    //    //})
                    //}
                },
                doSubmit: function (seat) {
                    $(".cd-user-modal").removeClass("is-visible");
                    if (seat.status==0) {
                        func.runAsync(abp.services.app.seatOrder.order(seat.seatNumber, app.openId).done(res => {
                            layer.msg('提交成功');
                            seat.status = 1;
                            //location.reload();
                        }))
                    } else if (seat.status==1) {
                        func.runAsync(abp.services.app.seatOrder.cancel(seat.seatNumber, app.openId).done(res => {
                            layer.msg('提交成功');
                            seat.status = 0;
                            //location.reload();
                        }))
                    }
                }
            },
            mounted() {
                //如果首次进入则需要输入姓名
                if (this.isFirstTime) {
                    var name = prompt("请输入您的姓名");
                    if (name.trim()) {
                        abp.services.app.seatOrder.setUserName(this.openId, name);
                    } else {
                        location.reload();
                    }
                }


                abp.services.app.seatOrder.getSeatsStatus(this.openId).done(res => {
                    res.forEach(seat => {
                        if (!seat.orderOpenId) {
                            seat.status = 0;
                        } else if (seat.orderOpenId == this.openId) {
                            seat.status = 1;
                        } else {
                            seat.status = -1;
                        }
                    })
                    this.seats = res;
                });
            }
        })

    </script>
}