
@section styles{ 
   <style>
       .occupy {
           background: rgba(204, 204, 204, 1)
       }
    </style>
}

<div class="layui-fluid" id="app">
    <div class="layui-card">
        <div class="layui-card-body">
            <el-form :inline="true" class="demo-form-inline">
                <el-form-item>
                    <el-select v-model="searchData.year" placeholder="年份" @@change="doSearch">
                        <el-option v-for="(y,i) in years" :label="y" :value="y"></el-option>
                    </el-select>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" @@click="">【导出月度报表】</el-button>
                </el-form-item>
            </el-form>
            <el-tabs v-model="searchData.month" @@tab-click="doSearch">
                <el-tab-pane label="一月" name="1"></el-tab-pane>
                <el-tab-pane label="二月" name="2"></el-tab-pane>
                <el-tab-pane label="三月" name="3"></el-tab-pane>
                <el-tab-pane label="四月" name="4"></el-tab-pane>
                <el-tab-pane label="五月" name="5"></el-tab-pane>
                <el-tab-pane label="六月" name="6"></el-tab-pane>
                <el-tab-pane label="七月" name="7"></el-tab-pane>
                <el-tab-pane label="八月" name="8"></el-tab-pane>
                <el-tab-pane label="九月" name="9"></el-tab-pane>
                <el-tab-pane label="十月" name="10"></el-tab-pane>
                <el-tab-pane label="十一月" name="11"></el-tab-pane>
                <el-tab-pane label="十二月" name="12"></el-tab-pane>
            </el-tabs>

            <table class="layui-table">
                <thead>
                    <tr>
                        <th width="30">序号</th>
                        <th v-for="day in getDaysInMonth(searchData.month,searchData.year)">{{day}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="seat in seatsInfo" height="30">
                        <th>{{seat.seatNumber}}</th>
                        <th v-for="day in getDaysInMonth(searchData.month,searchData.year)" :class="getSeatClass(seat,day)"></th>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>

@section scripts{ 
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                searchData: {
                    month: (new Date().getMonth() + 1).toString(),
                    year: new Date().getFullYear()
                },
                seatsInfo:[]
            },
            methods: {
                doSearch: function () {
                    var that = this;
                    func.runAsync(abp.services.app.report.getMonthReport(that.searchData.year, that.searchData.month).done(function (res) {
                        that.seatsInfo = res;
                    }))
                },
                getSeatClass: function (seat, day) {
                    return seat.days.indexOf(parseInt(day)) >= 0 ? "occupy" : "free";
                },
                getDaysInMonth: function (month, year) {
                    month = month.toString();
                    var daysInMonth = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31];
                    if (month == '02' || month == 2) {
                        year = parseInt(year);
                        daysInMonth[1] = (((0 == year % 4) && (0 != (year % 100))) || (0 == year % 400)) ? 29 : 28;
                    }
                    var flag = month.substr(0, 1);
                    if (flag == 0) {
                        month = month.substr(1, 1);
                    }
                    return daysInMonth[month - 1];
                }
            },
            computed: {
                years: function () {
                    var ys = [];
                    for (var y = 2019; y <= new Date().getFullYear(); y++) {
                        ys.push(y);
                    }
                    return ys;
                }
            },
            mounted: function () {
                this.doSearch();
            }
        })
    </script>
}