@charset "utf-8";
/* CSS Document */



 

body{ margin:auto; text-align:center;font-family: Arial, Helvetica, sans-serif; background-color:#fff;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none; user-select:none;overflow-x: hidden !important;
min-height: 100%;-webkit-backface-visibility: hidden; -moz-backface-visibility: hidden; -ms-backface-visibility: hidden; -o-backface-visibility: hidden; backface-visibility: hidden; background-image:url(../images/back-whie.jpg);  background-attachment:fixed;margin:0px; padding:0px; background-size:100%; background-repeat:no-repeat; background-position:center;
display: flex; /* 设置flex */
flex-direction: column; /* 方向为垂直方向 */}

.contain{}

.nav{ background-color:#f5f5f5; padding:5% 5% 0% 5%; height:26px}
a.title{ float:left; color:#333; font-weight:bold; font-size:16px; padding-bottom:5px; text-decoration:none}
.arrow{ float:left; width:8px; padding:0px 6px 3px 0px}
.date{ float:right; color:#333; font-size:12px; line-height:25px;padding-bottom:-10px}
.notice{ color:#222; font-size:12px; padding:7%; line-height:20px; text-align:left}
.clear{ clear:both}

ul,li,ol {margin:0px;padding:0px;list-style-type:none;}


.table{ width:90%; margin:0% 5%}
.station{ width:45.5%; margin:1.9%; float:left; border-radius:5px; overflow:hidden; border:dashed 1px #ffb81c}
.station.active{ background-color:#333333; border:solid 1px #535353;}
.station.active img{ opacity:0.05}
.station.p{color:#ffb81c; position:absolute; margin:45% 40%; text-align:center; display:block; z-index:10}

.logo{ margin:auto; width:80%; margin-top:100px;}
.text{  font-family: Arial;font-size:16px; color:#000;margin-bottom:30px; margin-top:50px; letter-spacing:2px; }
.confirm{  font-family: Arial;font-size:18px; color:#000;margin-bottom:50px; margin-top:20px; letter-spacing:2px; }

.scare{ margin:auto; width:50%; border:solid 5px #fff; margin-top:100px; }
.num{ float:right; color:#fff;}


/* button */
.button{ font-family:"微软雅黑"; -webkit-user-select:none;-moz-user-select:none;-ms-user-select:none; user-select:none;
  background-color:#ffb81c;
    filter:Alpha(opacity=80);
  text-decoration: none;
  text-align: center;
   display: inline-block;
  appearance: none;
  cursor: pointer;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition-property: all;
          transition-property: all;
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
  width:45%;
  font-size: 16px;
  height: 44px;
 line-height: 44px;
  margin: 2.5%;
  border:solid 0px #ffb81c; border-radius:2px;
  color: #000; float:left;
  }
.button:visited{color: #ffb81c;} 
.button:hover {background-color:#ffb81c;border-color: #ffb81c;color: #000;
    filter:Alpha(opacity=80);}
.button:active {background-color:#ffb81c}





input[type=checkbox] {
  display: none;
}

.lab{ text-align:center; color:#ffb81c; font-size:14px; margin-top:0px;}
.check-box {
   width:45.5%; margin:1.9%; float:left; border-radius:5px; overflow:hidden; border:solid 1px #ddd;
  position: relative;
  -moz-transition: border-color ease 0.2s;
  -o-transition: border-color ease 0.2s;
  -webkit-transition: border-color ease 0.2s;
  transition: border-color ease 0.2s;
  cursor: pointer;background-image:url(../images/seat.jpg); background-size:100%
}
.check-box p{width:200px;color:#000; position:absolute; top:55%; left:50%; margin-left:-100px;text-align:center; display: opacity:1;-webkit-transition-property: all;
          transition-property: all;
  -webkit-transition-duration: .3s;
          transition-duration: .3s;}
.check-box li{ text-align:center;color:#000;position:absolute;font-size:62px; left:50%; margin-left:-31px; width:62px; letter-spacing:0px; top:20%}
.check-box p1{ width:200px;color:#ffb81c; position:absolute; top:55%;left:50%; margin-left:-100px; text-align:center; opacity:0;-webkit-transition-property: all;
          transition-property: all;
  -webkit-transition-duration: .3s;
          transition-duration: .3s;}

input[type=checkbox]:checked + .check-box{ background-image:url(../images/station.jpg); color:#000}
input[type=checkbox]:checked + .check-box p{ color:#000; opacity:0; top:65%;}
input[type=checkbox]:checked + .check-box li{ color:#000;}
input[type=checkbox]:checked + .check-box p1{ color:#000; opacity:1; top:65%;}
input[type=checkbox]:checked + .check-box p2{ color:#000;  opacity:1;}


input[type=checkbox1] {
  display: none;
}
.check-box1 {
   width:45.5%; margin:1.9%; float:left; border-radius:5px; overflow:hidden; border:solid 1px #535353;
  position: relative;
  -moz-transition: border-color ease 0.2s;
  -o-transition: border-color ease 0.2s;
  -webkit-transition: border-color ease 0.2s;
  transition: border-color ease 0.2s;
  cursor: auto;background-image:url(../images/station-none.jpg); background-size:100%
}
input[type=checkbox1]:checked + .check-box1{ background-image:url(../images/station.jpg); color:#000}
.check-box1 li{ width:62px;color:#777;text-align:center;left:50%; margin-left:-31px;position:absolute;font-size:62px; top:20%}
.check-box1 p{ width:200px;color:#777; position:absolute; left:50%; margin-left:-100px; text-align:center; display:block; top:55% }




.main_nav {width:250px; height:60px; margin:auto; font-size:14px; margin-top:20px;cursor: pointer;}
.main_nav li{ margin:auto;margin:10px; font-size:16px; padding:10px 20px;
  border-radius: 2px;
  background: #ffb81c; color:#000;
  text-align:center
}
.main_nav li a{color:#000; text-decoration:none;}


.cd-user-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(52, 54, 66, 0.9);
  z-index: 3;
  overflow-y: auto;
  cursor: pointer;
  visibility: hidden;
  opacity: 0; 
  -webkit-transition: opacity 0.3s 0, visibility 0 0.3s;
  -moz-transition: opacity 0.3s 0, visibility 0 0.3s;
  transition: opacity 0.3s 0, visibility 0 0.3s;
}
.cd-user-modal.is-visible {
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity 0.3s 0, visibility 0 0;
  -moz-transition: opacity 0.3s 0, visibility 0 0;
  transition: opacity 0.3s 0, visibility 0 0;
}
.cd-user-modal.is-visible .cd-user-modal-container {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}

.cd-user-modal-container {
  position: relative; padding:15% 5%;
  width: 80%;
  background: #FFF; top:30%;
  margin:auto ;
  cursor: auto;
  border-radius:2px;
  -webkit-transform: translateY(-30px);
  -moz-transform: translateY(-30px);
  -ms-transform: translateY(-30px);
  -o-transform: translateY(-30px);
  transform: translateY(-30px);
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.cd-user-modal-container .cd-switcher:after {
  content: "";
  display: table;
  clear: both;
}
.cd-user-modal-container .cd-switcher li {
  width: 50%;
  float: left;
  text-align: center;
}
.cd-user-modal-container .cd-switcher li:first-child a {
  border-radius: .25em 0 0 0;
}
.cd-user-modal-container .cd-switcher li:last-child a {
  border-radius: 0 .25em 0 0;
}
.cd-user-modal-container .cd-switcher a {
  display: block;
  width: 100%;
  height: 50px;
  line-height: 50px;
  background: #d2d8d8;
  color: #809191;
}
.cd-user-modal-container .cd-switcher a.selected {
  background: #FFF;
  color: #505260;
}
